<html>
    <head>
        <title>Le Blog de Mathilde</title>
    </head>
    <body>
        <div>
            <h1><a href="">Blog de Mathilde</a></h1>
        </div>

        <div>
            <p>published: 10.10.2017, 10:26
            help : djangogirls.org</p>
            <h2><a href="">My first post</a></h2>
            <p>Contenu super intéressant de mon premier blog</p>
        </div>

        <div>
            <p>published: 10.10.2017, 10:30</p>
            <h2><a href="">Mon second post</a></h2>
            <p>Maman si tu lis ça c'est que ça marche !</p>
        </div>
    </body>
</html>
